.title-name {
    color: rgb(73, 51, 199);
}

.menu a {
    text-decoration: none;
    color: rgb(78, 80, 224);
    font-weight: bold;
    margin-right: 20px;
    font-size: 18px;
}

.menu a:hover {
    font-weight: 800;
}
